
/*****************/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/*****************/

:root{
    --main-color: #1BD3C6;
    --text-main: #1B1642;
    --text-color: #363636;
    --bg-main:  #E6F8F9;
    --member-color: #27918ac7; 
}

*{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 95%;
    margin: auto;

}

/* !  Organizando topo ***/
header{
    background: var(--bg-main);
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}


/***** ICON *********/

.brand h3 {
    font-size: 2.1rem;
    color: var(--text-main);
} 
.brand span{
    color: var(--main-color);
    display: inline-block;
    margin-right: .5rem;
    
}

header ul{
    display: flex;
}

.header-menu{
    display: flex;
}

header ul:last-child{
    /**** ultimo elemento ***/
    margin-left: 2rem;
}

header ul:last-child{
    margin-right: 0rem;
}

header li:last-child{
    margin-right: 0rem;
}


header li{
    margin-right: 1.5rem;

}

header  li  a{
    color: var(--text-main);
    font-size: .95rem ;
    font-weight: 500;
}



/*** Organizando BTN ***/

.btn {
    padding: .8rem 2rem;
    border-radius: 5px;
}

.btn-outline-text {
    /* ?  Borda no BTN topo ***/
    border: 1px solid var(--text-main);
}

.btn-main{
    background: var(--main-color);
    color: var(--text-main);
}


/** Hero == Icon principal **/

.wrapper{
    width: 85%;
    margin: auto;
}

section{
    padding: 4rem 0rem;
}

.hero{
    min-height: calc(100vh -70px);
    background: var(--bg-main);
}

/** Posição e tamnho */

.hero-grid{
    display: grid;
    grid-template-columns: auto 40%;
    grid-gap: 0rem 2rem;
    color: var(--text-main);

     /* ! grid-gap = Espaço entre linhas/colunas */
    
}

.hero-text h1{
    font-size: 4rem;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
    color: var(--text-main);
    
}

.hero-text p{
    padding-right: 10rem;
    margin-bottom: 2.5rem;
    line-height: 1.9rem;
    
}

.hero-text .btn{
    padding: .8rem 2rem;
    font-weight: 500; /* ? Fonte */
    font-size: 1.4rem;
}

/** @ Segunda Seção ** About + img */

img{
   width: 100%; /* ? Tamanho das img */
   height: auto;
}

/** textos - seções **/ 
.about-text h1 span {
    text-decoration: line-through;
}

.about-text h1{
    font-size: 4rem;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
    color: var(--text-main);
}
.about-text p{
    padding-right: 10rem;
    margin-bottom: 2.5rem;
    line-height: 1.9rem;
    
}

.about {
    padding: 6rem 0rem;
}

.about-grid{
    display: grid;
    grid-template-columns: 55% 45%;
    grid-gap: 0rem 5rem;
}


/** Seção Team/Membros **/
/* ? Textos centralizado */

.text-center{
    text-align: center;
}
.team-text{
    margin-bottom:  2rem;
}

.team-text h1{
    font-size: 4rem;
    color: var(--text-main);
}

.team-text p{
    margin-top: 1rem;
}

.team-grid{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem 1rem;

    /* ! grid-gap = Espaço entre linhas/colunas */

}

/**? ############################################*/
/**: Definindo membros por ID *
/**? ############################################*/

.team-member {
    text-align: center;
   
}

.team-member .img-member, .testimonial-by .img-member {
    /*? class="img-member */

    height: 155px;
    width: 155px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}

.team-member h3, h4{
    margin-bottom: .2rem;
}
.team-member h3{
    color: var(--text-main);
}

.team-member h4{
    color: var(--member-color);
    font-weight: 500;
}

.team-member h4:hover{
    color : var(--main-color)

}



/***** Seção depoimento ***/

.testimonial {
    background: var(--text-main);

}
.testimonial .wrapper{
    padding: 4rem 0rem;

}

/*? depoimento + membro(img) **/

.testimonial-by {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.testimonial .story{
    width: 70%;
    margin: auto;

}

.testimonial h3{
    font-size: 2em;
    color: #fff;
    line-height: 3rem;
    font-weight: 500;
   
}

.testimonial-by {
    text-align: left;
    margin-top: 5rem;
}

.testimonial-by h3{
    font-size: 1.5rem;
}

.testimonial-by .img-member{
    margin: 0;
    margin-right: 1.5rem;
    width: 100px;
    height: 100px; 
}

.testimonial-by .description h3{
    color: var(--main-color);
    margin-bottom: 0rem;
    font-size: 1.2rem;
    font-weight: 500;
}


.testimonial-by .description h4{
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}
